@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(98% 0 0);
  --color-base-300: oklch(95% 0 0);
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: oklch(71% 0.143 215.221);
  --color-primary-content: oklch(98% 0.003 247.858);
  --color-secondary: oklch(82% 0.189 84.429);
  --color-secondary-content: oklch(98% 0.003 247.858);
  --color-accent: oklch(77% 0.152 181.912);
  --color-accent-content: oklch(98% 0.003 247.858);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(68% 0.169 237.323);
  --color-info-content: oklch(98% 0.003 247.858);
  --color-success: oklch(69% 0.17 162.48);
  --color-success-content: oklch(96% 0.007 247.896);
  --color-warning: oklch(76% 0.188 70.08);
  --color-warning-content: oklch(98% 0.003 247.858);
  --color-error: oklch(63% 0.237 25.331);
  --color-error-content: oklch(98% 0.003 247.858);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(25.33% 0.016 252.42);
  --color-base-200: oklch(23.26% 0.014 253.1);
  --color-base-300: oklch(21.15% 0.012 254.09);
  --color-base-content: oklch(97.807% 0.029 256.847);
  --color-primary: oklch(71% 0.143 215.221);
  --color-primary-content: oklch(98% 0.003 247.858);
  --color-secondary: oklch(82% 0.189 84.429);
  --color-secondary-content: oklch(98% 0.003 247.858);
  --color-accent: oklch(77% 0.152 181.912);
  --color-accent-content: oklch(98% 0.003 247.858);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(68% 0.169 237.323);
  --color-info-content: oklch(98% 0.003 247.858);
  --color-success: oklch(69% 0.17 162.48);
  --color-success-content: oklch(96% 0.007 247.896);
  --color-warning: oklch(76% 0.188 70.08);
  --color-warning-content: oklch(98% 0.003 247.858);
  --color-error: oklch(63% 0.237 25.331);
  --color-error-content: oklch(98% 0.003 247.858);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

body {
  background-image: url("/bg.svg");
  background-repeat: repeat;
}

h2 {
  @apply text-3xl font-bold;
}
label:not(.swap) {
  @apply block;
}

.active {
  @apply font-semibold text-primary;
}
